node_modules
server/node_modules
data
server/.env
frontend/.env
todo
frontend/src/components/Modal.js
rishi-test.pem
Learning/DevOps Roadmap/A4L.pem
frontend/.DS_Store
Learning/Terraform/terraform.tfstate
Learning/Terraform/terraform.tfstate.backup
Learning/Terraform/.terraform
Learning/Terraform/.terraform.lock.hcl